// Skal slettes senere
*{
  background-color: orange;
}

$btn-blue: #31b9e3;
$input-size: 15px;
$form__text--length: 150px;

.main__form{
  margin: 2em auto;
  text-align: center;

}

input, select{
  background-color: white;
  border-width: 0px;
  padding: $input-size;
  font-weight: bold;
}

.form__text{padding-right: $form__text--length;}
.form__submit{
border-radius: 0px 35px 35px 0px;
background-color: $btn-blue;
color: white;
padding-left: 40px;
padding-right: 40px;
}

.select{
  border-radius: 35px 0px 0px 35px;
  &__option{
    background-color: white;
    font-weight: bold;}
}
