*{background-color: rgb(244, 2, 190);}
body {
  text-align: center;



}
.kategori{
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-gap: 40px 30px;
  margin-left: 30%;
  margin-right: 30%;

&__item {
    list-style-type: none;
    margin-top: 15px;
    font-size: 17px;
    background-color: #fff;;
    padding: 50px;
    max-width: 40%;
    border-radius: 35px;
  }

  a{
    text-decoration: none;
    color: rgb(96, 87, 87);
    background-color: #fff;
    padding: 15px;
}

  }
