$font-stack: 'Ubuntu', sans-serif;
$btn-blue: #19A0CD;
$dark-blue: #084776;
$input-size: 15px;
$form__text--length: 150px;
$searchbar-font-size: 1.3em;

body {
  background-image: url('../images/03.jpg');
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}


.main__form{
  margin: 2% 0 2% 0;
  text-align: center;

}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  25%{background-position: 0% 50%}
  50%{background-position:50% 100%}
  50%{background-position: 100% 50%}
  100%{background-position:50% 0%}
}

// MAIN HEADER AND FORM
.header {
  margin-top: 5%;
  text-align: center;
  color: white;

  &__heading {
    font-size: 4em;
    display: inline-block;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
    background: linear-gradient(100deg, $btn-blue, #355D7C, #bfeaff, #61b3cc, #9eed49, $dark-blue, #b884d6);
    background-size: 800% 800%;
    animation: AnimationName 40s infinite;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__subheading {
    font-size: 1.5em;
  }
  &__logo {
    fill: white;
    width: 100px;
    margin: auto;
    display: inline-block;
  }
}

input, select{
  background-color: white;
  border-width: 0px;
  padding: $input-size;
  font-weight: bold;
}

.form__text{
  padding-right: $form__text--length;
  font-size: $searchbar-font-size;
  border-radius: 35px 0 0 35px;
}


.form__submit{
  border-radius: 0px 35px 35px 0px;
  height: 55px;
  width: 160px;
  background-color: $btn-blue;
  color: white;
  font-size: 1.2em;
  overflow: hidden;
  transition: all 800ms;
  border: none;

  .random {
    display: inline-block;
    transform: translateX(35px);
    transition: all 300ms;
  }

  .go {
    display: inline-block;
    opacity: 0;
    transform: translateX(500px);
    transition: all 300ms;
  }

  &:hover {
    animation: color-me-in 5s;
    background-color: $dark-blue;
    transition: background-color 500ms;
    cursor: pointer;

    .random {
      transform: translateX(-200px);
      transition: all 300ms ease-in;
    }
    .go {
      display: inline-block;
      opacity: 1;
      transform: translateX(-40px);
      transition: transform 300ms ease-in;
    }
  }


}



.select{
  border-radius: 35px;
  font-size: $searchbar-font-size;
  margin-right: 10px;
  &__option{
    background-color: white;
    font-weight: bold;
    font-size: $searchbar-font-size - 0.5em;
  }
}

// Categories
.kategori{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em 2em;
  align-items: center;
  width: 30%;
  margin: auto;
  justify-items: center;

  &__item {
    list-style-type: none;
    font-size: 1.2em;
    border-radius: 20px;
    background-color: white;
    padding: 30% 0;
    text-align: center;
    width: 80%;
    vertical-align: middle;
    transition: all 500ms;
    &:hover {
      cursor: pointer;
      transition: all 500ms;
      background-color: #2cb5e8;
    }
  }
}

// TODO: FIX ME
.sectionBrowse {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-bottom: 2%;
  margin-top: 3%;
}

// POPUP
.popup {
  background-color: white;
  max-width: 50%;
  border-bottom: 10px solid white;
  border-radius: 0 0 20px 20px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;

  // Scrollbar behaviour inside popup
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background-color: none;
  }
  &::-webkit-scrollbar-thumb{
    background-color: lightgrey;
    border-radius: 10px;
  }
}

.popupHeader {
  display: grid;
  max-width: 50%;
  grid-template-columns: 20px auto 40px;
  margin: auto;
  background-color: $dark-blue;
  border-radius: 20px 20px 0 0;
  &__heading {
    padding-left: 20px;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px 20px;
  }
  &__exit {
    color: white;
    grid-column-start: 3;
    padding: 10px;
    font-size: 1.3em;
    display: inline-block;
    transition: color 1s ease;
    &:hover {
      transform: rotate(360deg);
      transform-origin: 45% 50%;
      transition: transform 700ms ease, color 400ms ease, font-size 400ms ease;
      cursor: pointer;
      color: #ed4949;
    }
  }
}

.popupItem {
  margin: 10px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 3fr 20px 6fr;
  background-color: #f5f5f5;
  border-radius: 30px;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  &poptupItem__select{
    font-size: $searchbar-font-size - 1em;
  }

  &__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    max-width: 100%;
    border-radius: 30px 0 0 30px;
  }
  &__heading {
    grid-column-start: 3;
    grid-row-start: 1;
    font-size: 1.5em;
  }
  &__result {
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 1em;
  }
  &__form {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 5;
    justify-content: start;
    width: 100%;

    .submit {
      border-radius: 0px 35px 35px 0px;
      background-color: $btn-blue;
      color: white;
      font-size: 1em;
      padding: 10px 20px;
      border: none;
      transition: all 500ms;
      &:hover {
        transition: all 500ms;
        background-color: $dark-blue;
        cursor: pointer;
      }
    }
    .select {

      -webkit-border-radius: 35px 0 0 35px;
      -moz-border-radius: 35px 0 0 35px;
      border-radius:35px 0 0 35px;
      border: none;
      background-color: white;
    }
    .textInput {
      width: 55%;
      padding: 10px 0 10px 20px;
      font-size: 1em;
      border: none;

    }
  }
}

.randomItem {
  display: none;
  background-color: white;
  max-width: 25%;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 35px;
  &__image{
    width: 100%;
    border-radius: 35px;
  }
  &__amount {
    font-size: 2em;
    margin-top: 5px;
  }
  &__name {
    font-size: 1.8em;
    margin-bottom: 5px;
  }
  &__active {
    display: block;
  }
  &__exit {
    position: absolute;
    right: 38%;
    font-size: 1.2em;
    transition: color 1s ease;
    &:hover {
      transform: rotate(360deg);
      transform-origin: 45% 50%;
      transition: transform 700ms ease, color 400ms ease, font-size 400ms ease;
      cursor: pointer;
      color: #ed4949;
    }
  }
}
