$font-stack: 'Ubuntu', sans-serif;
$btn-blue: #31b9e3;
$dark-blue: #28a5cc;
$input-size: 15px;
$form__text--length: 150px;
$searchbar-font-size: 1.3em;

body {
  background-image: url('../images/03.jpg');
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}


.main__form{
  margin: 2% 0 5% 0;
  text-align: center;

}


// MAIN HEADER AND FORM
.header {
  margin-top: 5%;
  text-align: center;
  color: white;

  &__heading {
  font-size: 4em;
  display: inline-block;
  font-family: 'Righteous', cursive;
  font-weight: lighter;
  }
  &__subheading {
  font-size: 1.5em;
  }
  &__logo {
    fill: white;
    width: 100px;
    margin: auto;
    display: inline-block;


  }
}

input, select{
  background-color: white;
  border-width: 0px;
  padding: $input-size;
  font-weight: bold;
}

.form__text{padding-right: $form__text--length; font-size: $searchbar-font-size;}
.form__submit{
border-radius: 0px 35px 35px 0px;
background-color: $btn-blue;
color: white;
padding-left: 40px;
padding-right: 40px;
font-size: $searchbar-font-size;
}

.select{
  border-radius: 35px 0px 0px 35px;
  font-size: $searchbar-font-size;
  &__option{
    background-color: white;
    font-weight: bold;
    font-size: $searchbar-font-size - 0.5em;
  }
}



// POPUP
.popup {
  background-color: white;
  max-width: 50%;
  border-bottom: 10px solid white;
  border-radius: 0 0 20px 20px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;

  // Scrollbar behaviour inside popup
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background-color: none;
  }
  &::-webkit-scrollbar-thumb{
    background-color: lightgrey;
    border-radius: 10px;
  }
}

.popupHeader {
  display: grid;
  max-width: 50%;
  grid-template-columns: 20px auto 40px;
  margin: auto;

  &__heading {
    background-color: $dark-blue;
    padding-left: 20px;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 20px 0 0 0;
    padding: 10px 20px;
  }
  &__exit {
    background-color: white;
    grid-column-start: 3;
    border-radius: 0 20px 0 0;
    padding: 10px;
  }
}

.popupItem {
  margin: 10px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 3fr 20px 6fr;
  background-color: #f5f5f5;
  border-radius: 30px;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  &__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    max-width: 100%;
    border-radius: 30px 0 0 30px;
  }
  &__heading {
    grid-column-start: 3;
    grid-row-start: 1;
    font-size: 1.5em;
  }
  &__result {
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 1em;
  }
  &__form {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 5;
    justify-content: start;
    width: 100%;

    .submit {
      border-radius: 0px 35px 35px 0px;
      background-color: $btn-blue;
      color: white;
      font-size: 1em;
      padding: 10px 20px;
      border: none;
      transition: all 500ms;
      &:hover {
        transition: all 500ms;
        background-color: $dark-blue;
        cursor: pointer;
      }
    }
    .select {

      -webkit-border-radius: 35px 0 0 35px;
      -moz-border-radius: 35px 0 0 35px;
      border-radius:35px 0 0 35px;
      border: none;
      background-color: white;
    }
    .textInput {
      width: 55%;
      padding: 10px 0 10px 20px;
      font-size: 1em;
      border: none;

    }
  }
}
